@import '@/utils/sass/theme.scss';

.minimal_header {
  width: 100%;
  height: auto;
  background: $aqua;
  padding: 10px 10px;
  @include flex(row, start, center);
  &__container {
    &__logo {
      color: $blue;
      display: flex;
      align-items: center;

      img {
        height: 60px;
        width: 60px;
        object-fit: contain;
      }
    }

    &__help {
      display: none;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .minimal_header {
    height: auto;
  }
}

@media only screen and (min-width: $laptop) {
  .minimal_header {
    height: auto;
    justify-content: center;
    &__container {
      @include flex(row, space-between, center);
      width: 100%;
      max-width: 1020px;
      &__logo {
        img {
          height: 75px;
          width: 75px;
        }
      }
      &__help {
        display: inline;
      }
      .help_icon {
        color: $gray-dark;
        font-size: 20px;
      }
    }
  }
}
