@import '@/utils/sass/theme.scss';

.header {
  width: 100%;
  background: $yellow;
  height: 87px;
  padding: 0px 8px;

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: $max-width;

    .user_options {
      display: none;
    }
  }

  &__logo {
    color: $blue;
    height: 40px;
    display: flex;
    align-items: center;

    img {
      height: 32px;
      width: 50px;
      object-fit: cover;
      object-position: left;
    }
  }

  &__search-input {
    height: 32px;
    flex-grow: 1;
    margin: 10px 10px;
    border-style: none;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);

    &::placeholder {
      padding: 0px 20px 15px 15px;
      color: $gray-light;
    }
  }

  &__disney_promo {
    display: none;
  }

  &__nav_bar_button {
    font-size: 30px;
  }

  &__nav_bar {
    display: none;
  }

  &__user_address {
    width: 100%;
    height: 50%;
    order: 1;
    border-style: solid;
    border-width: 1px 0px 0px;
    border-color: $gray-light;
    padding-top: 10px;
    font-size: 13px;
    @include flex(row, space-between, center);
    color: $gray;

    div {
      @include flex(row, space-between, center);
    }
    span {
      margin-left: 5px;
      color: $gray-dark;
    }
    &__icon {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .header {
    height: 100px;
    @include flex(column, center, center);

    &__container {
      height: 100%;
      display: grid;
      grid-template-columns: 140px 1fr 320px;
      grid-template-rows: 56px 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .user_options {
        display: flex;
      }
    }

    &__logo {
      img {
        height: 32px;
        width: auto;
        object-fit: cover;
        object-position: left;
      }
    }

    &__search-input {
      height: 39px;
      flex-grow: 0;
      width: 95%;

      &::placeholder {
        font-size: 16px;
      }
    }

    &__hamburguer-btn {
      display: none;
    }

    &__disney_promo {
      @include flex(row, left, center);
      grid-area: 2 / 2 / 3 / 3;
      height: auto;
      margin-left: 10px;

      img {
        height: 39px;
      }
    }

    &__user_address {
      grid-area: 1 / 3 / 2 / 4;
      border-style: none;
      width: 100%;
      margin: 0;
      justify-content: flex-end;
      padding: 0;

      &__icon {
        font-size: 25px;
      }

      p {
        text-align: left;
        font-size: 14px;
      }

      span {
        flex-grow: 0;
        margin-left: 5px;
        color: $gray-dark;
      }
    }

    &__nav_bar {
      font-size: 14px;
    }

    &__user_options {
      @include flex(row, left, center);
      font-size: 14px;
      grid-area: 2 / 3 / 3 / 4;
      justify-content: flex-end;

      &__user {
        @include flex(row, left, center);
      }

      a {
        color: $gray-dark;
        text-decoration: none;
        padding: 0 8px;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .header {
    &__container {
      grid-template-columns: 200px 1fr 350px;
    }

    &__search-input {
      margin-left: 0;
    }

    &__disney_promo {
      @include flex(column, center, center);
      grid-area: 1 / 3 / 2 / 4;
      height: 50px;
    }

    &__user_address {
      grid-area: 2 / 1 / 3 / 2;
      justify-content: left;
    }

    &__nav_bar {
      display: block;
      grid-area: 2 / 2 / 3 / 3;
      color: $gray;
      font-size: 14px;

      ul {
        @include flex(row, left, center);

        li {
          list-style: none;
          margin-right: 14px;
          font-weight: 100;
        }
      }
    }
  }
}
