@import '@/utils/sass/theme.scss';

.popular_categories_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: 170px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #00000010;
  padding: 30px 12px;
  cursor: pointer;

  &:hover {
    background-color: $blue;
  }

  &:hover .icon,
  &:hover .description {
    color: $white;
  }

  .icon {
    display: flex;
    color: $blue;
    font-size: 65px;
  }

  .description {
    color: $gray-dark;
    text-align: center;
  }
}

@media screen and (min-width: $tablet) {
  .popular_categories_card {
    border-radius: 0px;
  }
}
