@import '@/utils/sass/theme.scss';

.popular_categories_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 #00000010;
  padding: 12px;

  .icon {
    color: $blue;
    font-size: 65px;
    display: flex;

    path {
      stroke: #fff;
      stroke-width: 1px;
    }
  }

  .description {
    color: $gray-dark;
    text-align: center;
  }
}

@media screen and (min-width: $tablet) {
  .popular_categories_card {
    border-radius: 0px;
  }
}
