@import '@/utils/sass/theme.scss';

.item {
    background-color: $white;
    margin-bottom: 4px;
    .item__container {
        display: flex;
        gap: 20px;   
        padding: 15px;
        .item__container--information {
            width: 100%;
            .information__description {
                h2 {
                    font-size: 14px;
                    font-weight: 400;
                    color: rgba(0, 0, 0, .8);
                    margin-bottom: 14px;
                }
                h3 {
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 16px;
                    color: rgba(0,0,0,.45);
                }
    
                span {
                    font-size: 14px;
                    color: #39b54a;
                    font-weight: 300;
                }
            }
        }
        .item__container--image {
            width: 60px;
            height: 60px;
            object-fit: contain;
        }   
    }
    .item-action {
        border-top: 1px solid rgba(0, 0, 0, .07);
        padding: 16px;
        line-height: 1.25;
        .item-action-single {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                list-style: none;
                margin-right: 22px;
                margin-bottom: 8px;
                span {
                    border: 0;
                    background-color: $white;
                }
                span:hover {
                    cursor: pointer;
                }
                span, a {
                    font-size: 14px;
                    font-weight: 400;
                    color: $blue;
                    line-height: 1.25;
                }
                a {
                    text-decoration: none;
                }
            }
        }
        
    }
}