@import '@/utils/sass/theme.scss';

.summary {
  padding: 15px;
  background-color: $white;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .summary__info {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    span {
      color: $gray-dark;
      font-size: 20px;
      font-weight: 300;
    }
  }
  .summary__actions {
    .summary__actions--button {
      color: $white;
      background-color: $blue;
      padding: 13px 32px 12px;
      text-decoration: none;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      width: 100%;
      &:hover {
        background-color: $blue-dark;
      }
    }
  }
}

@media (min-width: $tablet) {
  .summary {
    max-width: $max-width;
    margin: 0 auto;
    .summary__info {
      justify-content: flex-end;
      gap: 8px;
      padding-bottom: 10px;
      .summary__info--label {
        margin-right: 100px;
      }
      span {
        font-size: 25px;
        font-weight: 500;
      }
    }
    .summary__actions {
      display: flex;
      justify-content: flex-end;
      .summary__actions--button {
        display: inline-block;
        width: 240px;
        margin-top: 10px;
        transition: background 0.1s ease-in, color 0.1s ease-in,
          border 0.1s ease-in;
      }
    }
  }
}
