@import '@/utils/sass/theme.scss';

.homePayment {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  margin: 0 0 40px 0;
  box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
  .homePayment_container {
    @include flex(row, flex-start, center);
    padding: 20px;
    .homePayment_icon {
      margin-right: 16px;
    }
    .homePayment_title {
      font-size: 18px;
      color: $black;
      font-weight: 400;
      margin-bottom: 2px;
    }
    .homePayment_subtitle {
      font-size: 14px;
      color: $blue;
      transition: color 0.3s;
      &:hover {
        color: $blue-dark;
        cursor: pointer;
      }
    }
  }
  .homePayment_viewmore {
    display: none;
  }
}

@media only screen and (min-width: $tablet) {
  .homePayment {
    grid-template-columns: 2fr 2fr;
  }
}

@media only screen and (min-width: $laptop) {
  .homePayment {
    grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr;
    margin: 0 auto;
    .homePayment_viewmore {
      align-self: center;
      display: block;
      padding: 20px;
      border-left: 1px solid $background;
      button {
        border: none;
        background-color: transparent;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .homePayment {
    height: 90px;
    max-width: $max-width;
  }
}
