@import '@/utils/sass/theme.scss';

.descubre {
  padding: 0 10px;
  .descubre_title {
    display: none;
  }
  .descubre_container {
    @include flex(column, space-between, center);
    .descubre_innerContainer {
      @include flex(row, center, center);
      border-radius: 3px;
      background-color: $white;
      margin-bottom: 20px;
      max-height: 205px;
      width: 100%;
      transition: box-shadow 0.3s;
      box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
      -webkit-box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
      -moz-box-shadow: 0px 1px 2px 0px rgba(162, 162, 162, 0.5);
      &:hover {
        box-shadow: 0px 2px 13px 2px rgba(162, 162, 162, 0.5);
        -webkit-box-shadow: 0px 2px 13px 2px rgba(162, 162, 162, 0.5);
        -moz-box-shadow: 0px 2px 13px 2px rgba(162, 162, 162, 0.5);
      }
      .descubre_textContainer {
        @include flex(column, space-around, flex-start);
        min-height: 180px;
        margin: 0 15px;
        .descubre_category {
          color: $gray-dark;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 300;
          margin-bottom: 10px;
        }
        .descubre_promotion {
          color: $gray-dark;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .descubre_button {
          color: $blue;
          border: none;
          background-color: transparent;
          font-size: 14px;
          transition: color 0.3s;
          &:hover {
            color: $blue-dark;
            cursor: pointer;
          }
        }
      }
      .descubre_image {
        width: 200px;
        height: 200px;
        object-fit: contain;
      }
    }
  }
}

@media only screen and (min-width: $tablet) {
  .descubre {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    .descubre_container {
      width: 100%;
      .descubre_innerContainer {
        @include flex(row, space-around, center);
        width: 700px;
        margin: 10px 20px;
      }
    }
  }
}

@media only screen and (min-width: $laptop) {
  .descubre {
    max-width: $max-width;
    padding: 0 10px;
    margin: 0 auto;
    .descubre_container {
      @include flex(row, space-between, center);
      .descubre_innerContainer {
        @include flex(row, space-around, center);
        width: 100%;
        max-height: 255px;
        margin: 0;
        .descubre_textContainer {
          .descubre_category {
            font-size: 12px;
          }
          .descubre_promotion {
            font-size: 24px;
          }
          .descubre_button {
            background-color: $blue;
            color: $white;
            border: none;
            font-size: 14px;
            padding: 13px 15px;
            border-radius: 2px;
            font-weight: 400;
            transition: background-color 0.3s;
            &:hover {
              background-color: $blue-dark;
              color: $white;
            }
          }
        }
        .descubre_image {
          width: 250px;
          height: 250px;
        }
      }
      .descubre_extra {
        margin-right: 20px;
      }
    }
  }
}

@media only screen and (min-width: $desktop) {
  .descubre {
    .descubre_title {
      display: block;
      color: $gray;
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 22px;
    }
    .descubre_container {
      .descubre_innerContainer {
        margin: 0;
      }
      .descubre_extra {
        margin-right: 20px;
      }
    }
  }
}
