@import '@/utils/sass/theme.scss';

.register {
  height: 100vh;
  @include flex(column, start, center);
  padding-bottom: 29px;
  background-color: $white;
}

@media only screen and (min-width: $tablet) {
  .minimal_header {
    height: 50px;
  }
}

@media only screen and (min-width: $laptop) {
  .register {
    background-color: #ededed;
  }
}
