@import '@/utils/sass/theme.scss';

.minimal_header {
  width: 100%;
  background: $yellow;
  height: 50px;
  padding: 5px 10px;
  @include flex(row, start, center);
  &__container {
    &__logo {
      color: $blue;
      height: 40px;
      display: flex;
      align-items: center;

      img {
        height: 32px;
        width: 50px;
        object-fit: cover;
        object-position: left;
      }
    }

    &__help {
      display: none;
    }
  }
}

@media only screen and (min-width: $tablet) {
  .minimal_header {
    position: absolute;
    height: 280px;
    align-items: flex-start;
  }
}

@media only screen and (min-width: $laptop) {
  .minimal_header {
    justify-content: center;
    &__container {
      @include flex(row, space-between, center);
      width: 100%;
      max-width: 1020px;
      &__logo {
        img {
          width: auto;
        }
      }
      &__help {
        display: inline;
      }
      .help_icon {
        color: $gray-dark;
      }
    }
  }
}
