@import '@/utils/sass/theme.scss';

.cart_btn_mobile {
  position: relative;
  margin-right: 10px;
  font-size: 21px;
  @include flex(row, center, center);

  a {
    color: $black;
    display: flex;
  }
  .cart_spanDiv {
    @include flex(row, center, center);
    position: absolute;
    background-color: $white;
    top: -5px;
    right: -9px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    .cart_span {
      font-size: 12px;
      color: $black;
      text-align: center;
    }
  }
}

@media only screen and (min-width: $laptop) {
  .cart_btn_mobile {
    display: none;
  }
}
