@import '@/utils/sass/theme.scss';

.shopping_info_desktop_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  margin-bottom: -83px;
  padding-bottom: 30px;
}

.shopping_info_desktop {
  max-width: $max-width;
  display: flex;

  & > :nth-child(2) {
    position: relative;
  }

  & > :nth-child(2)::before {
    width: 1px;
    height: 67px;
    content: '';
    position: absolute;
    left: 0;
    background-color: $background;
  }

  & > :nth-child(2)::after {
    width: 1px;
    height: 67px;
    content: '';
    position: absolute;
    right: 0;
    background-color: $background;
  }
}
