@import '@/utils/sass/theme.scss';

.carousel_shopping_card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 25px 50px;
  width: 100%;

  h2 {
    font-size: 20px;
    font-weight: 500;
    color: $gray-dark;
  }

  p {
    font-size: 15px;
    color: $gray;
  }

  a {
    font-size: 14px;
    color: $blue;
    text-decoration: none;
  }
}
