@import '@/utils/sass/theme.scss';

.carousel_shopping_container {
  overflow: hidden;
  position: relative;
  background-color: $white;
  margin-bottom: -83px;
  padding-bottom: 30px;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    li {
      list-style: none;
      display: flex;

      button {
        background-color: #e0e0e0;
        width: 5px;
        height: 5px;
        border: none;
        border-radius: 100%;

        &.slick_active {
          background-color: $blue;
        }
      }
    }
  }
}

.carousel_shopping_slider {
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }
}
