@import '@/utils/sass/theme.scss';

.nav_dropdown_access {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px;
}

.nav_dropdown_access.open {
  .dropdown_switch {
    background-color: $select-navbar;

    & > .icon {
      transform: rotate(180deg);
      display: flex;
      font-size: 15px;
    }
  }

  .dropdown_content {
    max-height: 250px;
    background-color: $select-navbar;
    border-bottom: 1px solid #ededed;
  }
}

.dropdown_switch {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 30px;
  width: 150px;
  border: 1px solid #ededed;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #fff;
  margin-bottom: -1px;
  z-index: 2;
  max-width: 1200px;
}

.dropdown_content {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s linear;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ededed;
}

.nav_dropdown_content {
  padding: 0 110px;
  max-width: 1200px;
  width: 100%;
}

.list_dropdown_content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  font-size: 14px;

  & > li {
    display: flex;
    flex-direction: column;
    list-style: none;

    & > h5 {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 14px;
    }

    & > a {
      color: $gray-light;
      text-decoration: none;
      padding-bottom: 5px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .nav_dropdown_access {
    display: none;
  }
}
